<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>mcomponent training</title>
    <script src="jquery.min.js"></script>
    <script src="mcomponent.js"></script>
    <script src="mcomponent-jquery.js"></script>
    <style>
      body {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 14px;
        padding: 10px;
        line-height: 1.42857143;
        color: #333;
        background-color: #fff;
      }

      button {
        margin: 10px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div>
      <button id="button">Click me!</button>
    </div>
    <div id="placeholder"></div>
    <script src="app.js"></script>

    <script type="text/html" id="view">
      <div>
        {{ iter forecast }}
        <div>
          {{ fromDate }} {{ fromTime }} {{ temperature }}
          {{ if model.temperature < 0 }}
          KALLT!
          {{ endif }}
        </div>
        {{ enditer }}
      </div>
    </script>
  </body>
</html>
